body {
  background-color: #2b6a85;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/090/162/original/1200px-World_map_-_low_resolution.svg.png?1689492021");
  opacity: 90%;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

select {
  display: block;
  font-weight: bold;
  color: #2b6a85;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  font-size: 18px;
}

h1 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 36px;
}

footer {
  text-align: center;
  font-size: 18px;
  color: white;
}

footer a {
  color: #49d5fc;
}

strong {
  color: #49d5fc;
}

.container {
  max-width: 600px;
  margin: 36px auto;
  background: white;
  padding: 30px;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 25.5);
  border-radius: 10px;
}

.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(67, 111, 168, 1);
}

.date {
  color: #2b6a85;
  opacity: 1;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 20px;
  vertical-align: middle;
  line-height: 40px;
}
